<div class="md-editor">
    <nav>
        <div class="nav nav-tabs" id="post-content-editor-tab" role="tablist">
            <a class="nav-link active" id="nav-editor-tab" data-bs-toggle="tab"
               href="#nav-editor" role="tab" aria-controls="nav-editor"
               aria-selected="true">Editor</a>
            <a class="nav-link" id="nav-preview-tab" data-bs-toggle="tab"
               href="#nav-preview" role="tab" aria-controls="nav-preview"
               aria-selected="false">Preview</a>
        </div>
    </nav>
    <div class="tab-content markdownx" id="post-content-editor-tab-content">
        <div class=" tab-pane fade show active" id="nav-editor" role="tabpanel" aria-labelledby="nav-editor">
        <textarea name="content" cols="40" required id="id_content" class="markdownx-editor form-control"
                  data-markdownx-editor-resizable data-markdownx-urls-path="/markdownx/markdownify/"
                  data-markdownx-upload-urls-path="/markdownx/upload/" data-markdownx-latency="500"
                  rows="15"></textarea>
        </div>
        <div class="tab-pane fade" id="nav-preview" role="tabpanel" aria-labelledby="nav-preview">
            <div class="markdownx-preview"></div>
        </div>
    </div>
</div>