{% load static %}
{% url 'logout' as logout_url %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ATMAL Blog</title>
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/site.css' %}" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">ATMAL Blog{# <small>Simplifying the complex</small> #}</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExampleDefault"
                aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item active">
                    <a class="nav-link" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="cat-dropdown" data-bs-toggle="dropdown"
                       aria-expanded="false">By category</a>
                    <ul class="dropdown-menu" aria-labelledby="cat-dropdown">
                        <li><a class="dropdown-item" href="#">Any</a></li>
                        <li><a class="dropdown-item" href="#">AVR</a></li>
                        <li><a class="dropdown-item" href="#">EAGLE</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Resources</a>
                </li>
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <form name="logout_form" action="{{ logout_url }}" method="post">
                            {% csrf_token %}
                            <a class="nav-link" onclick="logout_form.submit()">Logout</a>
                        </form>
                    </li>
                {% endif %}
            </ul>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn search-button" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>
<main class="container">
    {% block content %}
    {% endblock %}
</main><!-- /.container -->
<script src="{% static 'js/bootstrap.bundle.js' %}"></script>
</body>
</html>