{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ATMAL Blog</title>
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/site.css' %}" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">ATMAL Blog{# <small>Simplifying the complex</small> #}</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExampleDefault"
                aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
                <li class="nav-item active">
                    <a class="nav-link" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="cat-dropdown" data-bs-toggle="dropdown"
                       aria-expanded="false">By category</a>
                    <ul class="dropdown-menu" aria-labelledby="cat-dropdown">
                        <li><a class="dropdown-item" href="#">Any</a></li>
                        <li><a class="dropdown-item" href="#">AVR</a></li>
                        <li><a class="dropdown-item" href="#">EAGLE</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Resources</a>
                </li>
            </ul>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-danger" type="submit">Search</button>
            </form>
        </div>
    </div>
</nav>

<main class="container">
    {% for i in '01234'|make_list %}
        <div class="post row mb-2">
            <div class="col-md-2">
                <img class="img-thumbnail post-thumbnail"
                     src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/27/TO-92%2C_BC548_%28front%2C_shaded%29.svg/1200px-TO-92%2C_BC548_%28front%2C_shaded%29.svg.png"/>
            </div>
            <div class="col" style="position: relative">
                <a class="h2 post-title" href="#">Hello world</a>

                <p class="post-description">{% lorem 35 w %}</p>
                <div class="post-footer" style="display: block; width: 97%;">
                    <div class="tags">
                        <a class="badge bg-primary" href="#">AVR</a>
                        <a class="badge bg-primary" href="#">EAGLE</a>
                        <a class="badge bg-primary" href="#">Kociołek</a>
                        <a class="badge bg-primary" href="#">AVR</a>
                        <a class="badge bg-primary" href="#">EAGLE</a>
                        <a class="badge bg-primary" href="#">Kociołek</a>
                        <a class="badge bg-primary" href="#">AVR</a>
                        <a class="badge bg-primary" href="#">EAGLE</a>
                        <a class="badge bg-primary" href="#">Kociołek</a>
                    </div>
                    <p>Published on {% now "jS F Y H:i" %}</p>
                </div>
            </div>
        </div>
        <hr>
    {% endfor %}
</main><!-- /.container -->
<script src="{% static 'js/bootstrap.bundle.js' %}"></script>
</body>
</html>