{% extends 'base.html' %}

{% block content %}
    {% for post in posts %}
        <div class="post row mb-2">
            <div class="col-md-2">
                <img class="img-thumbnail post-thumbnail"
                     src="{{ post.post.thumbnail }}"/>
            </div>
            <div class="col" style="position: relative">
                <a class="h2 post-title" href="{% url 'view_post' pk=post.pk slug=post.slug %}">{{ post.title }}</a>

                <p class="post-description">{{ post.short_description }}</p>
                <div class="post-footer" style="display: block; width: 97%;">
                    <div class="tags">
                        {% for category in post.post.categories.all %}
                            <a class="badge" href="#">{{ category }}</a>
                        {% endfor %}
                    </div>
                    <p>Published on {{ post.published_date|date:"d E Y" }}</p>
                </div>
            </div>
        </div>
        <hr>
    {% endfor %}
{% endblock %}
