:root {
    --title: #efc88b;
    --background: #181818;
    --tag: #247ba0;
    --opal: #92b9bd;
    --turquoise-green: #a8d4ad;
    --text-white: #d9d9d9;
    --search-button: #85cde0;
    --tag-hover-size: 1.1;
}

body {
    padding-top: 5rem;
    background: var(--background) !important;
    color: white;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.navbar {
    background: #1b2342;
}

.navbar-brand {
    text-align: center;
}

.navbar-brand small {
    display: block;
    font-size: 0.75rem;
}

.badge {
    background: var(--tag);
}

.search-button {
    color: white;
    border-color: var(--search-button);
}

.post {
    position: relative;
}

.post-thumbnail {
    display: block;
    margin-top: 0.4em;
    width: auto;
    height: auto;
    background: rgba(0, 0, 0, 0) !important;
}

@keyframes underline {
    from { text-decoration-color: transparent; }
    to { text-decoration-color: inherit; }
}

@keyframes no-underline {
    from { text-decoration-color: inherit; }
    to { text-decoration: transparent none; }
}

.post-title, .post-title:hover {
    position: relative;
    width: fit-content;
    width: -moz-fit-content;
    color: var(--title);
    text-decoration: none;
}

.post-title:before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background: var(--title);
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

.post-title:hover:before {
    visibility: visible;
    width: 100%;
}

.post-description {
    color: var(--text-white);
    margin-bottom: 3em;
}

.post-footer {
    position: absolute;
    bottom: -1em;
}

.post-footer > p {
    display: inline-block;
    float: right;
    color: #767676;
}

.tags {
    display: inline-block;
}

.tags * {
    text-decoration: none;
    color: whitesmoke;
    width: auto;
}

.tags *:hover {
    -webkit-transform: scale(var(--tag-hover-size));
    -moz-transform: scale(var(--tag-hover-size));
    -ms-transform: scale(var(--tag-hover-size));
    -o-transform: scale(var(--tag-hover-size));
    transform: scale(var(--tag-hover-size));
    transition: all 200ms ease-in-out;
    color: whitesmoke;
}

hr {
    color: #ef6f6c;
}

input, select {
    background-color: #181a1b !important;
    border-color: #3c4144 !important;
    color: white !important;
}

textarea {
    background-color: #181a1b !important;
    color: white !important;
    border-color: #242729 !important;
}

.nav-tabs {
    border-bottom: 1px solid #3c4144 !important;
}

.md-widget.nav-link.active {
    color: #212529 !important;
    border-color: #383d3f !important;
    background-color: #e9ecef !important;
}

.markdownx-editor, .markdownx-preview{
    margin-top: 0.2em;
    width: 100%;
}

.md-editor {
    margin-top: 0.4em;
    margin-bottom: 0.4em;
}

.modal-content {
    background-color: var(--background) !important;
}
